@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Cores principais */
  --cor-principal: #5ba3ff;
  --cor-secundaria: #b8e0ff;
  --cor-terciaria: #1a1a2e;

  /* Cores de texto e fundo */
  --cor-texto: #2d2d8b;
  --cor-fundo: #dfdfdf;

  /* Cores de botões */
  --cor-botao-fundo: linear-gradient(
    45deg,
    var(--cor-principal),
    var(--cor-secundaria)
  );
  --cor-botao-borda: var(--cor-secundaria);

  /* Outras cores */
  --cor-branca: #fff;
}

@keyframes gradient {
  50% {
    background-position: 100% 50%;
  }
}

/* ESTILOS GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: var(--cor-texto);
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-fundo);
  transition: background 0.5s;
}

.fundo.active {
  background: var(--cor-terciaria);
}

span {
  color: var(--cor-principal);
}

main {
  height: 100vh;
  width: 100%;
  padding: 100px 50px;
}

/* FIM DO ESTILO GERAL */

/* CABEÇALHO */
.cabecalho {
  width: 100%;
  background: transparent;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 20px 22px;
}

.cabecalho .logo {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 16px;
}

.cabecalho .links {
  padding-top: 15px;
  display: flex;
  gap: 30px;
}

.cabecalho .links .active {
  color: var(--cor-principal);
}

.cabecalho .links li {
  list-style: none;
}

.cabecalho .links li a {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  transition: 0.4s ease-in-out;
}

.cabecalho .links li a:hover {
  color: var(--cor-principal);
}

.cabecalho .btn-contato {
  padding-top: 15px;
}

.cabecalho .btn-contato button {
  font-size: 16px;
  border: 2px solid var(--cor-secundaria);
  border-radius: 16px;
  padding: 10px 20px;
  background: linear-gradient(
    45deg,
    var(--cor-principal),
    var(--cor-secundaria)
  );
  background-size: 400% 100%;
  width: fit-content;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  animation: gradient 2s ease-in infinite;
}

.cabecalho .btn-mudar-tema {
  margin-top: 13px;
  width: 120px;
  height: 45px;
  border: 5px solid var(--cor-texto);
  border-radius: 60px;
  position: relative;
  cursor: pointer;
}

.cabecalho .btn-mudar-tema::before {
  content: " ";
  position: absolute;
  width: 33px;
  height: 33px;
  background: var(--cor-texto);
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: left 0.5s;
}

.cabecalho .btn-mudar-tema.active::before {
  left: 68%;
}

/* FIM DO CABEÇALHO */

/* PÁGINA PRINCIPAL */
.principal {
  height: 100vh;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.principal .conteudo-principal {
  width: 50%;
}

.principal .conteudo-principal h1 {
  font-size: 40px;
}

.principal .conteudo-principal .texto-animado {
  height: 60px;
}

.principal .conteudo-principal .texto-animado h3 {
  font-size: 30px;
  line-height: 70px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--cor-principal);
}

.principal .conteudo-principal .texto-animado h3::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.7s infinite;
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.btn-box {
  margin-top: 30px;
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.btn-box .btn {
  position: relative;
  padding: 10px 40px;
  border: 2px solid var(--cor-principal);
  border-radius: 0.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--cor-principal);
  font-weight: 600;
  color: var(--cor-fundo);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--cor-principal);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--cor-fundo);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--cor-principal);
}

.btn-box .btn::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--cor-secundaria);
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.btn-box .btn:hover {
  color: var(--cor-principal);
}

.btn-box .btn:hover::before {
  width: 100%;
}

.principal .btn-sociais {
  position: absolute;
  bottom: 100px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.principal .btn-sociais a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--cor-principal);
  border-radius: 50%;
  padding: 0;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  padding: 30px;
}

.principal .btn-sociais a::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--cor-principal);
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.principal .btn-sociais a:hover i {
  color: var(--cor-fundo);
}

.principal .btn-sociais a:hover::before {
  width: 100%;
}

.principal .btn-sociais a i {
  font-size: 25px;
  color: var(--cor-principal);
  transition: 0.3s ease-in-out;
}

.principal .imagem-box {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--cor-principal);
  border-radius: 50%;
}

.principal .imagem-box .imagem-dia {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url("../src/imagens/valter/img-dia.PNG");
}

.principal .imagem-box .imagem-noite {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 100%;
  background: url("../src/imagens/valter/img-noite.PNG");
  transition: left 0.5s;
}

.imagem-box.active .imagem-noite {
  left: 0;
}

/* FIM DO CONTEÚDO PRINCIPAL */

/* COMEÇO BARRA DE HABILIDADES */
.habilidades {
  height: 100vh;
  width: 100%;
}

.habilidades .skills {
  width: 100%;
  height: 100%;
  box-shadow: 0 20px 30px black;
  padding: 70px;
  border-radius: 30px;
}

.habilidades .skills h2 {
  font-size: 40px;
}

.habilidades .skills .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.habilidades .skills .text .logo {
  gap: 5px;
  display: flex;
  width: 40px;
  height: 40px;
}

.habilidades .skills h3 {
  font-size: 22px;
  text-transform: uppercase;
}

.habilidades .skills ul {
  list-style: none;
}

.habilidades .skills ul li {
  margin: 20px 0;
}
.habilidades .skills ul li .barra {
  background-color: #b6b6b6;
  display: block;
  width: 100%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.habilidades .skills ul li .barra:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.24);
}
.habilidades .skills ul li .barra span {
  height: 100%;
  float: left;
  background-image: linear-gradient(
    135deg,
    var(--cor-secundaria),
    var(--cor-principal)
  );
}

.habilidades .skills ul li .barra .percentage {
  color: var(--cor-terciaria);
  background: var(--cor-principal);
}

@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 82%;
  }
}
@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes js {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}
@keyframes python {
  0% {
    width: 0;
  }
  100% {
    width: 94%;
  }
}
@keyframes react {
  0% {
    width: 0;
  }
  100% {
    width: 67%;
  }
}

.animate.html {
  width: 82%;
  animation: html 3s;
}

.animate.css {
  width: 70%;
  animation: css 3s;
}

.animate.js {
  width: 40%;
  animation: js 3s;
}

.animate.python {
  width: 94%;
  animation: python 3s;
}

.animate.react {
  width: 67%;
  animation: react 3s;
}

/* HABILIDADES TERMINADA AQUI */

.projetos {
  height: 100vh;
  width: 100%;
  margin-top: 100px;
}

.marcacao {
  color: var(--cor-principal);
}

.projeto-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 30px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px black;
  border-radius: 10px;
}

.projeto-box h2 {
  font-size: 40px;
}

.projeto-box span:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, transparent, var(--cor-principal));
  animation: animar1 2s linear infinite;
}

@keyframes animar1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.projeto-box span:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(to bottom, transparent, var(--cor-principal));
  animation: animar2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animar2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.projeto-box span:nth-of-type(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, transparent, var(--cor-principal));
  animation: animar3 2s linear infinite;
}

@keyframes animar3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.projeto-box span:nth-of-type(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(to top, transparent, var(--cor-principal));
  animation: animar4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animar4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.projetos img {
  width: 300px;
  height: 200px;
  border: 5px solid var(--cor-secundaria);
  border-radius: 20px;
}

.projetos .projeto-box-sub {
  display: flex;
  gap: 30px;
}

.imagem-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent,
    var(--cor-secundaria)
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  border-radius: 20px;
}

.overlay h1 {
  text-align: center;
  margin-top: 40%;
  text-transform: uppercase;
}

.overlay p {
  text-align: center;
}

.imagem-container:hover .overlay {
  opacity: 1;
}

/* especilidades começa aqui */
.especialidades {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.especialidades h2 {
  margin-top: 100px;
  margin-bottom: 70px;
  font-size: 50px;
}

.especialidades .especialidades-box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.especialidades .especialidades-box {
  width: 400px;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px var(--cor-principal);
}

.especialidades .especialidades-box p {
  margin: 20px 0;
}

.especialidades .especialidades-box i {
  font-size: 70px;
}

/* especialidades acaba aqui */

/* começando a seção sobre aqui */

.sobre {
  margin-top: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 2rem;
  position: relative;
}

.sobre h2 {
  font-size: 50px;
}

.sobre .sobre-img {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.sobre .sobre-img img {
  width: 94%;
  border-radius: 50%;
  border: 0.2rem solid var(--cor-principal);
}

.sobre .sobre-img .circulo-girando {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;
  border-left: 0.2rem solid var(--cor-principal);
  border-right: 0.2rem solid var(--cor-principal);
}

.sobre .sobre-conteudo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre .sobre-conteudo h3 {
  font-size: 30px;
}

.sobre .sobre-conteudo p {
  font-size: 1.1rem;
  margin: 1rem 0 3rem;
}

.btn-sobre {
  margin-top: 30px;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.btn-sobre .btn {
  position: relative;
  padding: 10px 40px;
  border: 2px solid var(--cor-principal);
  border-radius: 0.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--cor-principal);
  font-weight: 600;
  color: var(--cor-fundo);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.btn-sobre .btn::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--cor-secundaria);
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.btn-sobre .btn:hover {
  color: var(--cor-principal);
}

.btn-sobre .btn:hover::before {
  width: 100%;
}

.elementos-animados {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.elementos-animados .elemento-animado {
  position: absolute;
}
.elementos-animados .elemento-animado:nth-child(1) {
  top: 22%;
  left: 75%;
  animation: animacaoParticulas1 13s infinite linear alternate;
}
.elementos-animados .elemento-animado:nth-child(2) {
  top: 25%;
  left: 24%;
  animation: animacaoParticulas2 13s infinite linear alternate;
}
.elementos-animados .elemento-animado:nth-child(3) {
  top: 30%;
  left: 80%;
  animation: animacaoParticulas3 13s infinite linear alternate;
}
.elementos-animados .elemento-animado:nth-child(4) {
  bottom: 25%;
  right: 34%;
  animation: animacaoParticulas4 13s infinite linear alternate;
}
.elementos-animados .elemento-animado:nth-child(5) {
  top: 18%;
  right: 27%;
  animation: animacaoParticulas5 13s infinite linear alternate;
}

@keyframes animacaoParticulas1 {
  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
  40% {
    transform: translate(141px, 72px) rotate(75deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(145deg);
  }
}
@keyframes animacaoParticulas2 {
  0%,
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg) scale(0.9);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg) scale(1.2);
  }
}
@keyframes animacaoParticulas3 {
  0% {
    transform: translate(-300px, 151px) rotate(0);
  }
  100% {
    transform: translate(251px, -200px) rotate(180);
  }
}
@keyframes animacaoParticulas4 {
  0% {
    transform: translate(61px, -99px) rotate(0);
  }
  20% {
    transform: translate(4px, -190px) rotate(38deg);
  }
  60% {
    transform: translate(-263px, -164px) rotate(180deg);
  }
  100% {
    transform: translate(-1px, 0) rotate(180);
  }
}
@keyframes animacaoParticulas5 {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  40% {
    transform: translate(141px, 72px) rotate(75deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(145deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

/* termina aqui o sobre */

/* contato aqui */
.contato {
  margin-top: 200px;
  height: 80vh;
}

.contato h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 100px;
}

.contato form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.contato form .caixa-input {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contato form .caixa-input .campo-input {
  position: relative;
  width: 49%;
  margin: 0.8rem 0;
}

.contato form .caixa-input .campo-input input,
.contato form .text-area textarea {
  width: 100%;
  height: 100%;
  padding: 1.1rem;
  font-size: 1.2rem;
  color: var(--cor-principal);
  background-color: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--cor-principal);
}

.contato form .caixa-input .campo-input input::placeholder,
.contato form .text-area textarea::placeholder {
  color: var(--cor-texto);
}

.contato form .caixa-input {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
}

.contato form .caixa-input textarea {
  resize: none;
}

.contato form .btn {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 110%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.contato .btn button {
  font-size: 16px;
  border: 2px solid var(--cor-secundaria);
  border-radius: 16px;
  padding: 20px 60px;
  background: linear-gradient(
    45deg,
    var(--cor-principal),
    var(--cor-secundaria)
  );
  background-size: 400% 100%;
  width: fit-content;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  animation: gradient 2s ease-in infinite;
}